<?xml version="1.0"?>
<robot name="gen3_complete" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find gen3_description)/description/gen3.urdf.xacro" />

  <xacro:include filename="$(find gen3_description)/description/robotiq_2f85.urdf.xacro" />

  <joint name="gen3_robotiq_85_base_joint" type="fixed">
    <parent link="gen3_end_effector_link"/>
    <child link="gen3_robotiq_85_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="wrist_camera_mount_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.000281 0.011402 -0.029798"/>
      <mass value="0.5"/>
      <inertia ixx="0.000587" ixy="3E-06" ixz="3E-06" iyy="0.000369" iyz="-0.000118" izz="0.000609"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><mesh filename="package://gen3_description/meshes/realsense_bracket_for_kinova.dae"/></geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><mesh filename="package://gen3_description/meshes/realsense_bracket_for_kinova.dae"/></geometry>
    </collision>
  </link>

  <joint name="wrist_camera_mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
    <parent link="gen3_bracelet_link"/>
    <child link="wrist_camera_mount_link"/>
  </joint>
  
  <link name="wrist_camera_link"/>

  <joint name="wrist_camera_joint" type="fixed">
    <parent link="wrist_camera_mount_link"/>
    <child link="wrist_camera_link"/>
    <origin rpy="0 1.744 -1.5708" xyz="0 -0.06841 -0.05044"/>
  </joint>
  
  <link name="wrist_mounted_camera_bottom_screw_frame"/>
  <joint name="wrist_mounted_camera_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="wrist_camera_link"/>
    <child link="wrist_mounted_camera_bottom_screw_frame"/>
  </joint>
  
  <link name="wrist_mounted_camera_link">
    <visual>
      <origin rpy="1.5708 0 1.5708" xyz="0.00987 -0.02 0"/>
      <geometry><mesh filename="package://gen3_description/meshes/gen3_arm_collision/d415.stl"/></geometry>
      <material name="aluminum"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.02 0"/>
      <geometry><box size="0.02005 0.099 0.023"/></geometry>
    </collision>
    <inertial>
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.00388" ixy="0.0" ixz="0.0" iyy="0.00049" iyz="0.0" izz="0.00387"/>
    </inertial>
  </link>
  <joint name="wrist_mounted_camera_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.02 0.0115"/>
    <parent link="wrist_mounted_camera_bottom_screw_frame"/>
    <child link="wrist_mounted_camera_link"/>
  </joint>

  <link name="wrist_mounted_camera_depth_frame"/>
  <joint name="wrist_mounted_camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_depth_frame"/>
  </joint>
  <link name="wrist_mounted_camera_depth_optical_frame"/>
  <joint name="wrist_mounted_camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_depth_frame"/>
    <child link="wrist_mounted_camera_depth_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra1_frame"/>
  <joint name="wrist_mounted_camera_infra1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_infra1_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra1_optical_frame"/>
  <joint name="wrist_mounted_camera_infra1_optical_joint" type="fixed">
    <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_infra1_frame"/>
    <child link="wrist_mounted_camera_infra1_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra2_frame"/>
  <joint name="wrist_mounted_camera_infra2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.055 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_infra2_frame"/>
  </joint>
  <link name="wrist_mounted_camera_infra2_optical_frame"/>
  <joint name="wrist_mounted_camera_infra2_optical_joint" type="fixed">
    <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_infra2_frame"/>
    <child link="wrist_mounted_camera_infra2_optical_frame"/>
  </joint>
  <link name="wrist_mounted_camera_color_frame"/>
  <joint name="wrist_mounted_camera_color_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.015 0"/>
    <parent link="wrist_mounted_camera_link"/>
    <child link="wrist_mounted_camera_color_frame"/>
  </joint>
  <link name="wrist_mounted_camera_color_optical_frame"/>
  <joint name="wrist_mounted_camera_color_optical_joint" type="fixed">
    <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
    <parent link="wrist_mounted_camera_color_frame"/>
    <child link="wrist_mounted_camera_color_optical_frame"/>
  </joint>

</robot>